<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Raimond Lige veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_ID.jpg" alt="Kursuse bänner">
  <h1>Raimond Lige veebiprogrammeerimine</h1>
  <p>See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammeerimise kursusel ja ei sisalda mõistlikku sisu!</p>
  <hr>
  <h2>Siit leiab</h2>
  <ul>
	<li><a href="/timenow">Aja info</a></li>
	<li><a href="/vanasonad">Valik Eesti vanasõnasid</a></li>
	<li><a href="/visits">Registreeri oma külastus ja vaata külalisi</a></li>
	<li><a href="/eestifilm">Eesti film</a></li>
	<li><a href="/galleryphotoupload">Lae fotosid galeriisse</a></li>
	<li><a href="/photogallery">Vaata fotogaleriid</a></li>
	<li><a href="/news">Vaata uudiseid</a></li>
  </ul>
  <% if (photo) { %>
    <h3>Viimati lisatud avalik foto:</h3>
    <img src="/gallery/normal/<%= photo.filename %>" alt="<%= photo.alttext %>" style="max-width: 600px; border: 3px solid #ccc;">
    <p><em><%= photo.alttext %></em></p>
  <% } %>

  <% if (news) { %>
  <h2>Uusim uudis: <%= news.title %></h2>
  
    <pre style="font-family: inherit; white-space: pre-wrap; word-wrap: break-word;"><%= news.content %></pre>
    <% if (news.filename) { %>
      <img src="/newsphotos/normal/<%= news.filename %>" alt="<%= news.alttext %>" style="max-width: 400px;">
    <% } %>
    <p><a href="/news">Loe kõiki uudiseid...</a></p>
    
  <% } else { %>
    <h2>Uudised</h2>
    <p>Hetkel värskeid uudiseid pole.</p>
  <% } %>
</body>
</html>